<html>
    <head>
        <title>BlackBox</title>
        <link rel="icon" type="image/png" href="/images/bb/black-box.png">
        <link rel="shortcut icon" type="image/png" href="/images/bb/black-box.png">
        <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body ng-app="BlackBox" class="fourth-color-bg">
    <style>
        html,
        body {
            margin:0px;
            padding:0px;
            height:100%;
            width:100%;
            background-repeat:no-repeat;
            background-attachment:fixed;
            background-position:center;
        }
        .container {
            min-height:100%;
            position:relative;
        }
        .container > .body{
            padding-bottom:100px;
        }
        .header {
            padding:10px 10px 10px 15px;
        }
        .header .rerun-tests{
            margin-top:5px;
            padding-right:10px;
            cursor:pointer;
        }
        .body {
            padding:0px 0px 0px 10px;
        }
        .footer{
            width:100%;
            position:absolute;
            bottom:0px;
        }
        .footer > img{
            float:left;
            margin-top:-50px;
            margin-left:-20px;
        }
        .footer > span{
            font-size:40px;
            margin-left:-15px;
            padding:0px;
        }
        .tools > i{
            padding-right:10px;
            cursor:pointer;
        }
        .button {
            display:inline-block;
            padding:5px 20px 5px 20px;
            cursor:pointer;
        }
        .custom-font{
            font-family: 'Marcellus SC', serif;
        }
        .pull-right{
            float:right;
        }
        .pull-left{
            float:left;
        }


        .first-color-font{
            color:black;
        }
        .second-color-font{
            color:#515253;
        }
        .third-color-font{
            color:#A5D029;
        }
        .fourth-color-font{
            color:white;
        }
        .first-color-bg{
            background-color:black;
        }
        .second-color-bg{
            background-color:#333;
        }
        .third-color-bg{
            background-color:#A5D029;
        }
        .fourth-color-bg{
            background-color:white;
        }
        .rounded-corners{
            -moz-border-radius: 2px;
            border-radius: 2px;
        }
        .test-tab{
            height:25px;
            transform: skew(-20deg);
            -o-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -webkit-transform: skew(-20deg);
            display:inline-block;
            padding:4px 15px 0px 15px;
            float:left;
            margin-right:3px;
            font-family: 'Marcellus SC', serif;
            color:white;
        }
        .test-tab:hover{
            cursor:pointer;
            opacity:.8;
        }
        .test-tab > .close{
            font-size:10px;
            margin-right:-12px;
            margin-top:-3px;
        }
        .test-pass{
            background-color:#A5D029;
        }
        .test-fail{
            background-color:red;
        }
        .test-running{
            background-color:white;
            opacity:.3;
            color:black;
        }
        .test-unknown{
            background-color:yellow;
            color:black;
        }

        .add-test{
            margin-left:10px;
            font-size:20px;
            margin-top:5px;
            cursor:pointer;
        }
        .file-list{
            width:100%;
        }
        .file-list > .search{
            height:40px;
        }
        .file-list > .search > i{
            margin-top:-5px;
            font-size: 30px;
            padding:10px;
            float:left;

        }
        .file-list > .search > input{
            font-size:20px;
            color:white;
            background:none;
            border:0px;
            padding:10px;
            outline: none;
            width:50%;
            margin:0px;
        }
        .file-list > .file{
            background-color:#515253;
            border-bottom:1px solid white;
            padding:10px;
            cursor:pointer;
        }

        .file-list > .file:hover{
            background-color:black;
            color:white;
            border-bottom:1px solid #515253;
        }

        .file-list > .search > .cancel{
            font-size:20px;
            padding:10px;
            cursor:pointer;
        }
        .modal{
            height:100%;
            width:100%;
            position:fixed;
            top:0;
            left:0;
            background-color:rgba(0, 0, 0, 0.6);
            color:black;
            font-size:25px;
        }
        .projects{
            height:40px;
        }
        .projects > span{
            float:left;
            margin-top:10px;
            padding-right:10px;
        }
        .projects > .project{
            float:left;
            padding:10px;
            cursor:pointer;
            border-left:1px solid white;
        }
        .projects > .project:hover{
            background-color:#515253;
            color:white;
        }
        .projects .add-new{
            font-size:20px;
            cursor:pointer;
            padding:10px 15px 10px 10px;
        }
        .project-crud{
            display:inline-block;
            padding:10px;
            width:230px;
        }
        .project-crud > .config{
            padding:10px;
        }
        .project-crud > .config > input{
            font-size:20px;
        }
        .project-crud > .button{
            margin-top:31px;
        }

        .project-crud > .cancel{
            margin-right:10px;
        }
    </style>
    <div class="container">
        <div class="header first-color-bg" ng-controller="headerCtrl" ng-show="true">
            <i class="pull-left icon-refresh rerun-tests fourth-color-font" ng-click="projects.runTests()"></i>
            <div class="test-tab test-{[{test.state}]}" ng-repeat="test in projects.selected.tests" ng-click="showOutput(test)">
                {[{test.info.basename}]}<span class="close pull-right cancel second-color-font" ng-click="delete(test)">&#10006;</span>
            </div>
            <i class="pull-left icon-plus add-test fourth-color-font" ng-click="addTest()"></i>
            <div class="pull-right custom-font second-color-font">
                <span class="fourth-color-font custom-font">{[{projects.stats.tests}]}</span>&nbsp;|&nbsp;<span class="fourth-color-font custom-font">{[{projects.stats.assertions}]}</span>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="file-list" ng-controller="filesCtrl" ng-show="states.file_list">
            <div class="search second-color-bg custom-font second-color-font">
                <i class="icon-file fourth-color-font"></i> <input type="text" class="fourth-color-font" ng-change="search()" ng-model="query" ng-focus="states.file_list">{[{states.file_text}]}
                <span class="pull-right cancel fourth-color-font" ng-click="cancel()">&#10006;</span>
            </div>
            <div ng-repeat="file in files" class="file custom-font" ng-click="addTest(file)">
                {[{file}]}
            </div>
            <div style="clear:both;background-color:pink;"></div>
        </div>
        <div ng-controller="projectCtrl">
            <div class="projects pull-right">
                <span class="custom-font first-color-font">Projects:</span>
                <div class="project custom-font" ng-repeat="project in projects.all" ng-click="selectProject(project)" ng-class="{'fourth-color-font': projects.selected.shortname == project.shortname,'first-color-bg': projects.selected.shortname == project.shortname }">
                    {[{project.name}]}
                </div>
                <i class="pull-right icon-plus add-new first-color-font" ng-click="createProject()"></i>
            </div>
            <div style="clear:both"></div>
            <div class="project-crud second-color-bg fourth-color-font pull-right" ng-controller="projectCrudCtrl" ng-show="states.project_crud">
                <div class="config pull-left">
                    <span class="fourth-color-font custom-font">Project Name: </span>
                    <br/>
                    <input type="text" ng-model="p_name">
                </div>
                <div class="config pull-left">
                    <span class="fourth-color-font custom-font">Project BasePath: </span>
                    <br/>
                    <input type="text" ng-model="p_basepath">
                </div>
                <div class="config pull-left">
                    <span class="fourth-color-font custom-font">Ignore Files: </span>
                    <br/>
                    <input type="text" ng-model="p_ignore_files" value=".git, _., .idea">
                </div>
                <div class="pull-right button first-color-bg fourth-color-font rounded-corners custom-font" ng-click="save()">
                    Save
                </div>
                <div class="cancel pull-right button fourth-color-bg first-color-font rounded-corners custom-font" ng-click="cancel()">
                    Cancel
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="body" ng-controller="headerCtrl">
            <pre>{[{states.content}]}</pre>
        </div>
        <div style="clear:both"></div>

        <div class="footer first-color-bg">
            <img src="/images/bb/black-box.png">
            <span class="custom-font fourth-color-font">BlackBox</span>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="/js/bb/app.js"></script>
    </body>
</html>