<!doctype html>
<html lang="en" ng-app="vitaminc">
<head>
  <meta charset="utf-8">
  <title>Vitamin CC</title>
  <link rel="stylesheet" href="css/vc.css"/>
  <link href='//fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="side-bar-right vc-font white-font" ng-controller="ProjectsCtrl">
        <div class="project-list brown-bg pull-right">
            <div class="selected" ng-click="toggleDropdown()"><i class="fa fa-code"></i>{{ tr.project.selected.project ? tr.project.selected.project : "Select a project" }}</div>
            <input class="vc-font" type="text" ng-model="project_filter" ng-show="project_list" placeholder="{{filtered_projects.length == 0 ? 'Create project!' : 'Filter projects ...'}}">
            <input class="vc-font" type="text" ng-model="project_base_dir" ng-show="filtered_projects.length == 0 && project_list" placeholder="What is the base directory?">
            <input class="vc-font" type="text" ng-model="project_ignore_list" ng-show="filtered_projects.length == 0 && project_list" placeholder="What files should we ignore?">
            <div class="project medium-font" ng-repeat="(key, p) in filtered_projects = (tr.project.available | filter: project_filter)" ng-show="project_list" ng-click="selectProject(p.project)">
            {{ p.project }}
            </div>
            <div class="create-project button orange-bg" ng-show="filtered_projects.length == 0 && project_list" ng-click="createProject(project_filter)"><i class="fa fa-plus"></i> Create Project</div>
            <div class="clear-both close white-font small-font" ng-click="toggleDropdown()" ng-show="project_list">Close</a></div>
        </div>
        <div class="clear-both pull-right test white-font"
            ng-class="{'red-bg': test.pass == false,'green-bg': test.pass == true, 'yellow-bg': test.status == 'running'}"
            ng-repeat="test in tr.project.selected.tests">
                {{ test.relative_path}}
        </div>
        <div class="clear-both pull-right vc-font add-a-file brown-bg white-font" ng-show="tr.project.selected">
            <i class="fa fa-plus" ng-click="add_file = !add_file"></i><input type="text" placeholder="Search for a file to add ..." ng-show="add_file" ng-change="search(add_file_query)" ng-model="add_file_query">
        </div>
        <div class="clear-both pull-right test brown-bg white-font"
            ng-repeat="file in tr.project.tests.files_searched_for | limitTo:5">
                {{ file.relative_path}}
        </div>
    </div>
    <div class="content" ng-view></div>
    <div class="test-results {{ tr.project.tests.status == true || tr.project.tests.status == 'running' ? 'brown' : 'white' }}-font medium-font vc-font" ng-class="{'yellow-bg': tr.project.tests.status == 'running', 'green-bg': tr.project.tests.status == true, 'red-bg': tr.project.tests.status == false}" ng-controller="TestResultsCtrl" ng-show="tr.project.selected">
        <div class="tab" ng-show="tr.project.tests.status == 'running'">Running tests ... </div>
        <div class="tab" ng-show="tr.project.tests.status == false">{{ tr.project.tests.error_message }}</div>
        <div class="tab" ng-repeat="file in tr.project.tests.files" ng-show="tr.project.tests.status">{{ file.relative_path }}</div>
        <div class="tab pull-right" ng-show="tr.project.selected && tr.project.tests.status">{{ tr.project.tests.assertion_count }} Assertions</div>
        <div class="tab pull-right" ng-show="tr.project.selected && tr.project.tests.status">{{ tr.project.tests.test_count }} Tests</div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>
